
body {
    font-family: 'roboto';
}
#map {
    height: 905px;
}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: block;
	padding: 10px;
}

#header {
	padding: 0;

}

#header nav {
	position: fixed;
	right: 2em;
	top: 2em;
	z-index: 10000;
}

#header nav ul {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header nav ul li {
	display: flex;
	padding: 3px;
}

#header nav ul li a {
	display: flex;
	position: relative;
	height: 2.5em;
	line-height: 3em;
	padding: 10px;
	background-color: orange;
	border-radius: 4px;
	border: 0;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 0.35em;
	text-transform: uppercase;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.title_1 {
	display: flex;
	color: #000000;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	margin-top: 150px;
}

form {
	font-family: Arial;
	margin: 3em;
	padding: 1em;
}

.report-form {
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 2px;
}

input[type="file"],
textarea,
select {
	width: 95%;
	padding: 8px;
	border: 1.5px solid #ed9a45;
	border-radius: 10px;
	box-sizing: border-box;
}

.button_form {
	display: flex;
	flex-direction: column;
	background-color: #ed9a45;
	color: #ffffff;
	width: 95%;
	padding: .6em;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	flex-wrap: wrap;
	align-content: space-around;
}

.button1 {
    background-color: #ed9a45;
    color: white;
	border-radius: 15px;
	border: 0;
	display: inline-block;
	letter-spacing: 0.1em;
	line-height: 3.45em;
	padding: 0 1em 0 1em;
	text-align: center;
	width: 100%;
}

.button2 {
	background-color: #ed9a45;
    color: orange;
	border-radius: 15px;
	border: 2px solid #ed9a45;
	display: inline-block;
	letter-spacing: 0.1em;
	line-height: 3.45em;
	padding: 0 1em 0 1em;
	text-align: center;
    width: 100%;
    margin-bottom: 1px;
}

.card_options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	height: 9em;
	padding: 1.0em;
	border-radius: 10px;
	background-color: aliceblue;
	box-shadow: 0px 0px 14px rgba(214, 148, 25, 0.25);
	z-index: 20000;
	margin-top: 40em;
}

#footer {
	display: flex;
	justify-items: center;
	justify-content: center;
	height: 100px;
}



/* Ocorrencias */

.ocorrencias {
	margin-top: 120px;
	text-align: center;
}

.filtro{
	width: 200px;
}



/* Setor A*/

.setores{
	margin-top: 30px;
	padding-left: 15px;
}

.ocorrenciasSetores {
	list-style: none;
    padding: 0;
    margin: 0; 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cano {
	border: 1px solid green;
	border-radius: 5px;
	height: 70px;
	width: 170px;
	margin: 4px;
}

.piso {
	border: 1px solid orange;
	border-radius: 5px;
	height: 70px;
	width: 170px;
	margin: 4px;
}





/* max device width */
@media screen and (min-device-width: 350px) and (max-width: 480px) {

	.button2 {
    	background-color: #ffffff;
    	color: orange !important;
	}
    .card_options {
		width: 70%;
	}
	.ocorrenciasSetores {
		grid-template-columns: 1fr 1fr;
	}
}

/* min-width & max-width */
@media screen and (min-width: 481px) and (max-width: 900px) {
	.button2 {
		background-color: #ffffff;
	    color: orange !important;
	}
	.card_options {
		width: 50%;
	}
	.ocorrenciasSetores {
		grid-template-columns: 1fr 1fr;
	}
}


@media screen and (min-width: 901px) {
	.button2 {
		background-color: #ffffff;
	    color: orange !important;
	}
	.card_options {
		width: 30%;
        margin-top: 600px;
	}
	.ocorrenciasSetores, .setorTitulo {
		grid-template-columns: 1fr 1fr;
		width: 1000px;
		margin-left: 510px;
	}
    
}